<style>
  .mail-container {
    margin: 1rem auto;
    max-width: 270px;
    padding: 2rem;
    border-radius: 10px;
    color: rgba( 95, 95, 95, 1);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: sans-serif;
    margin-top: 90px;
  }

  h1 {
    color: #FFAA05;
  }

  a {
    text-decoration: none;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #FFAA05;
    color: #FFAA05;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin: 2rem auto;
    font-size: 12px;
  }

  .bubble-container {
    position: relative;
    margin-top: -110px;
    margin-left: -34px;
  }

  #pic-constructor {
    width: 60px;
    position: absolute;
    top: 115px;
    right: -9px;
  }

  .bubble-container > h1 {
    font-size: 18px;
    font-weight: 700;
    width: 191px;
    position: absolute;
    top: 15px;
    right: 81px;
  }

  .signature {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .signature > p {
      margin-left: 1rem;
  }

  #pic-logo {
    width: 50px;
    text-align: left;
  }

  #text-bubble {
    width: 270px;
  }


</style>

<div class="mail-container">

  <div class="bubble-container">
    <%= image_tag "mail_bubble.png", alt: "Bulle de texte", id: "text-bubble" %>
    <%= cl_image_tag @client.constructor.photo.key, alt: "Photo du constructeur", id:"pic-constructor" %>
    <h1>Ça y est, l'étape <%= @job.name %> <br>est terminée !</h1>
  </div>


  <p>
    Bonjour <%= @client.first_name %>,
    <br>
    <br><%= @client.constructor.first_name %>, votre chef de chantier a indiqué que l'étape <%= @job.name %> de la construction de votre maison est terminée.
    <br>Vous pouvez retrouver toutes les tâches associées à cette étape sur votre tableau de bord.
    <br>La prochaine étape va pouvoir commencer, on vous tient au courant de l'avancée des travaux dès qu'il y a du nouveau !
  </p>

  <%= link_to 'Voir mon tableau de bord', jobs_url %>

  <div class="signature">
    <%= image_tag "icons/icon-384x384.png", alt: "logo-homeflow", id: "pic-logo" %>
    <p>L'équipe Homeflow</p>
  </div>
</div>

