<style>
  .mail-container {
    margin: 1rem auto;
    max-width: 270px;
    padding: 2rem;
    border-radius: 10px;
    color: rgba( 95, 95, 95, 1);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: sans-serif;
    margin-top: 90px;
    position: relative;
  }


  a {
    text-decoration: none;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #FFAA05;
    color: #FFAA05;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin: 2rem auto;
    font-size: 12px;
  }

  .bubble-container {
    position: relative;
    margin-top: -110px;
    margin-left: -34px;
  }

  #pic-constructor {
    width: 64px;
    border-radius: 50%;
  }

  .content-mail-notif > p {
    font-size: 16px;
    margin-top: 2rem;
  }

  .mail-container > h1 {
   font-size: 18px;
    font-weight: 700;
    color: #FFAA05;
    text-align: center;
    margin: 2rem 0;
    color: #FFAA05;
  }

  .signature {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .signature > p {
      margin-left: 1rem;
  }

  #pic-logo {
    width: 50px;
    text-align: left;
  }

  #text-bubble {
    width: 270px;
  }

.image-const {
  margin: 0 auto;
  max-width: 100px;
  text-align: center;
}


</style>

<div class="mail-container">

    <div class="image-const">
      <%= cl_image_tag @client.constructor.photo.key, alt: "Photo du constructeur", id:"pic-constructor" %>
    </div>

    <h1>Il y a du nouveau sur votre chantier !</h1>

    <div class="content-mail-notif">
      <p>
        Bonjour <%= @client.first_name %>,
        <br>
        <br><%= @client.constructor.first_name %>, votre chef de chantier a ajouter une nouvelle tâche dans la catégorie <%= @task.job.name %>.
        <br><br>Vous pouvez aller voir sur votre application ce qu'il y a de nouveau.
      </p>
    </div>

  <%= link_to 'Voir la notification', job_url(@task.job) %>

  <div class="signature">
    <%= image_tag "icons/icon-384x384.png", alt: "logo-homeflow", id: "pic-logo" %>
    <p>L'équipe Homeflow</p>
  </div>
</div>

