<%= render partial: "shared/navbar", locals: {
  title: @task.title,
  sub_title: "Envoyé le #{@task.created_at.strftime('%d/%m/%Y')}",
  button: job_path(@task.job),
  user: current_user.constructor? ? @task.job.user : current_user
  } %>

<div class="task-show-container">
  <div class="task-show-description">
    <h2><%= @task.title %></h2>
    <p><%= @task.content %></p>
  </div>
  <div class="photo-container">
    <% @task.photos.each do |photo| %>
      <div class="photo">
        <%= link_to "", rails_blob_path(photo), class: 'cover-link', :target => '_blank' %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
  </div>

</div>

