<%= render partial: "shared/navbar_home", locals: {
  title: "Bonjour #{@jobs.first.user.first_name} !",
  sub_title: "Votre chef de chantier : #{current_user.constructor.first_name} #{current_user.constructor.last_name}",
  user: current_user,
  } %>


<div class="job-index-icon">
  <%= link_to documents_path do  %>
    <i class="far fa-file icon"></i>
  <% end %>
</div>



<% @jobs.in_progress.each do |job| %>
      <%= render partial: "shared/job_card", locals: {job: job} %>
<% end %>

<% @jobs.completed.each do |job| %>
      <%= render partial: "shared/job_card", locals: {job: job} %>
<% end %>

<% @jobs.pending.each do |job| %>
      <%= render partial: "shared/job_card", locals: {job: job} %>
<% end %>



