
<%= render partial: "shared/navbar", locals: {
  title: "#{@client.first_name} #{@client.last_name}",
  sub_title: "Client ajouté le #{@client.created_at.strftime('%d/%m/%Y')}",
  button: user_path(@client),
  user: @client
  } %>

<%= render partial: "shared/tabbar", locals: { client: @client } %>


  <% if current_user.constructor? %>
    <div class="details-buttons">
      <%= link_to "S'y rendre", ("https://www.google.com/maps/place/#{@client.address_street} #{@client.address_zip} #{@client.address_city}"), class: "button-empty" %>
      <div style="flex-grow: 0 ; flex-shrink: 0 ; width: 1rem"></div>
      <%= render partial: "shared/toggle_btn_client", locals: {client: @client}  %>
    </div>
  <% end %>

<div class="details-card">
  <% unless @client.in_progress %>
    <p><strong>⚠️ Le chantier de <%= @client.first_name %> <%= @client.last_name %> est actuellement en pause.</strong></p>
  <% end %>

  <p>Adresse : <%= @client.address_street %> <%= @client.address_zip %>, <%= @client.address_city %></p>

  <p>Téléphone : <%= @client.phone_number %></p>

  <p>Email : <%= @client.email %></p>
</div>
