<%= render partial: "shared/navbar", locals: {
  title: "#{@client.first_name} #{@client.last_name}",
  sub_title: "Client ajouté le #{@client.created_at.strftime('%d/%m/%Y')}",
  button: user_path(@client),
  user: current_user
  } %>

<%= render partial: "shared/tabbar", locals: { client: @client } %>


  <% if current_user.constructor? %>
    <div class="button-full">
      <%= render partial: "shared/toggle_btn_client", locals: {client: @client}  %>
    </div>
  <% end %>


<%= cl_image_tag @client.photo.key, alt: "alttext" %>

<p>Adresse : <%= @client.address_street %> <%= @client.address_zip %>, <%= @client.address_city %></p>

<p>Téléphone : <%= @client.phone_number %></p>

<p>Email : <%= @client.email %></p>
