<h1><%= @client.first_name %> <%= @client.last_name %></h1>

<p>Adresse : <%= @client.address_street %> <%= @client.address_zip %>, <%= @client.address_city %></p>

<p>Téléphone : <%= @client.phone_number %></p>

<p>Email : <%= @client.email %></p>
