<h1>VOICI LA LISTE DE VOS CLIENTS</h1>

<%= link_to '+ ajouter', new_user_path %>

<ul>
  <% @clients.each do |client| %>
   <li>
    <%= client.first_name %> <%= client.last_name %>
    <%= link_to 'Call', "tel:#{client.phone_number}" %> | <%= link_to 'details', user_path(client)  %>
   </li>
  <% end %>

</ul>

