<%= render partial: "shared/navbar_home", locals: {
  title: "#{current_user.company_name}",
  sub_title: "Bonjour #{current_user.first_name} • #{@clients.length} clients",
  } %>


<div class="switch-button-container">
  <%= render partial: "shared/plus_button", locals: {link: '#'} %>
  <%= render partial: "shared/switcher" %>
</div>


<% @clients.work_in_progress.each do |client| %>
  <%= render partial: "shared/client_card", locals: {client: client} %>
<% end %>

<% @clients.work_paused.each do |client| %>
  <%= render partial: "shared/client_card", locals: {client: client} %>
<% end %>




