<h1><%= @client.first_name %> <%= @client.last_name %></h1>

<%= link_to 'Docs', user_documents_path(@client) %> |
<%= link_to 'Mail', "mailto:#{@client.email}" %> | 
<%= link_to 'Phone', "tel:#{@client.phone_number}" %> |
<%= link_to 'More', user_details_path(@client) %>

<h2>Voici les jobs :</h2>
<ul>
  <% @client.jobs.each do |job| %>
    <li>
      <%= link_to job.name, job_path(job) %> | <%= render partial: "shared/toggle_button", locals: {job: job}  %>
    </li>
  <% end %>
</ul>

