<%= render partial: "shared/navbar", locals: {
  title: "#{@client.first_name} #{@client.last_name}",
  sub_title: "#{@client.jobs.count} étapes • #{@client.jobs.where(completed: false).count} actives • #{@client.jobs.where(completed: true).count} terminées",
  button: :back
  } %>

<%= link_to 'Docs', user_documents_path(@client) %>  |
<%= link_to 'Mail', "mailto:#{@client.email}" %>  | 
<%= link_to 'Phone', "tel:#{@client.phone_number}" %>  |
<%= link_to 'More', user_details_path(@client) %>

<h2>Voici les jobs :</h2>

  <% @client.jobs.each do |job| %>
    <%= render partial: "shared/job_card", locals: {job: job} %>
  <% end %>
