
<div class="icon-container">

  <div>
    <%= link_to current_user.constructor? ? user_path(@client) : jobs_path do  %>
      <i class="fas fa-tasks icon <%= active_class_for('jobs') %>"></i>
    <% end %>
  </div>

  <div>
    <%= link_to current_user.constructor? ? user_documents_path(@client) : documents_path do  %>
      <i class="far fa-file icon <%= active_class_for('documents') %>"></i>
    <% end %>
  </div>

  <% if current_user.constructor? %>
    <div>
      <%= link_to "mailto:#{@client.email}" do  %>
       <i class="far fa-envelope icon"></i>
      <% end %>
    </div>

    <div>
      <%= link_to "tel:#{@client.phone_number}" do  %>
        <i class="fas fa-phone icon"></i>
      <% end %>
    </div>

    <div>
      <%= link_to user_details_path(@client) do  %>
        <i class="fas fa-ellipsis-h icon <%= active_class_for('details') %>"></i>
      <% end %>
    </div>

  <% else %>
    <div>
      <%= link_to tutorials_path do  %>
       <i class="far fa-lightbulb icon <%= active_class_for('tuto') %>"></i>
      <% end %>
    </div>

    <div>
      <%= link_to '#' do  %>
        <i class="fas fa-ellipsis-h icon <%= active_class_for('details') %>"></i>
      <% end %>
    </div>

  <% end %>
</div>




