<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<body style="background-color: var(--fond)";>

<div>

  <div class = "hauthome">haut</div>

  <div class = "photohome">
    <%= image_tag "home1.png" %>
  </div>
  <div class = "photohome"> </div>
  <div class = "photohome"></div>

  <div class = "bashome">connection</div>


<%= simple_form_for(:user, as: :user, url: session_path(:user)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

</div>

</body>
