<%= render partial: "shared/navbar", locals: {
  title: current_user.constructor? ? "#{@client.first_name} #{@client.last_name}" : "Mes documents",
  sub_title: "#{pluralize @documents.size, "document", "documents"}",
  button: current_user.constructor? ? user_path(@client) : jobs_path,
  user: current_user.constructor? ? @client : current_user
} %>



<% if current_user.constructor? %>

  <%= render partial: "shared/tabbar", locals: { client: @client } %>

  <div class="document-form-containerr">
    <div class="plus_button">
      <%= link_to '', new_user_document_path(@client), class: 'cover-link'%>
      <i class="fas fa-plus"></i>
    </div>
    <%= form_tag(user_documents_path(@client), method: "get", class: 'form-document') do %>
      <%= text_field_tag(:query, nil, placeholder: 'Rechercher...', value: params[:query], class: 'field-document') %>
      <% if params[:query] == nil %>
        <button> <i class="fas fa-search"></i> </button>
      <% else %>
        <%= link_to user_documents_path(@client) do  %>
          <i class="far fa-times-circle"></i></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% else %>

  <%= render partial: "shared/tabbar" %>

  <div class="document-form-containerr">
    <div class="plus_button">
      <%= link_to new_document_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <%= form_tag(documents_path, method: "get", class: 'form-document')  do %>
      <%= text_field_tag(:query, nil, placeholder: 'Rechercher...', class: 'field-document') %>
      <% if params[:query] == nil %>
        <button> <i class="fas fa-search"></i> </button>
      <% else %>
        <%= link_to documents_path do  %>
          <i class="far fa-times-circle"></i></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% end %>





<div class="documents-container-wrap">
  <% @documents.each do |document| %>
    <%= render partial: "shared/document_card", locals: {document: document} %>
  <% end %>
</div>









