<%= render partial: "shared/navbar", locals: {
  title: current_user.constructor? ? "#{@client.first_name} #{@client.last_name}" : "Mes documents",
  sub_title: "#{pluralize @documents.size, "document"}",
  button: current_user.constructor? ? user_path(@client) : jobs_path,
  user: current_user.constructor? ? @client : current_user
} %>



<% if current_user.constructor? %>
  <%= render partial: "shared/tabbar", locals: { client: @client } %>

  <%= link_to new_user_document_path(@client) do %>
    <div class="button-empty">
      <i class="fas fa-plus"></i>
      <p>Ajouter un document</p>
    </div>
  <% end %>
<% else %>
  <%= render partial: "shared/tabbar" %>

  <%= link_to new_document_path do %>
    <div class="add-container">
      <i class="fas fa-plus"></i>
      <p>Ajouter un document</p>.photo
    </div>
  <% end %>
<% end %>


<% if current_user.constructor? %>
  <%= form_tag(user_documents_path(@client), method: "get") do %>
    <%= text_field_tag(:query, nil, placeholder: 'Document') %>
    <button> Chercher </button>
  <% end %>
<% else %>
  <%= form_tag(documents_path, method: "get") do %>
    <%= text_field_tag(:query, nil, placeholder: 'Document') %>
    <button> Chercher </button>
  <% end %>
<% end %>

<div class="documents-container-wrap">
  <% @documents.each do |document| %>
    <%= render partial: "shared/document_card", locals: {document: document} %>
  <% end %>
</div>









