<%= render partial: "shared/navbar", locals: {
  title: "Nouveau document",
  sub_title: "Veuillez remplir les champs ci dessous.",
  button: :back,
  user: current_user
} %>

<div class="centerflex_docnew">

  <% if current_user.constructor? %>
    <div class="form-field">
      <%= simple_form_for [@user, @document] do |f| %>
        <%= f.button :submit, "Ajouter le document", class: "button-full"%>
        <%= f.input :title, placeholder: 'Titre' %>
        <%= f.input :category, collection: Document::DOC_TYPE, selected: 'Type de document' %>
        <%= f.file_field :photo, as: :file, class: 'nice_input_file', data: {prompt: 'le document'} %>
        <%= f.error :photo %>
      <% end %>
    </div>

  <% else %>
    <div class="form-field">
      <%= simple_form_for(@document) do |f| %>
        <%= f.button :submit, "Ajouter le document", class: "button-full"%>
        <%= f.input :title, placeholder: 'Titre' %>
        <%= f.input :category, collection: Document::DOC_TYPE, selected: 'Type de document' %>
        <%= f.file_field :photo, as: :file, class: 'nice_input_file', data: {prompt: 'le document'} %>
        <%= f.error :photo %>
      <% end %>
    </div>
  <% end %>
</div>
<!-- @document, url: user_documents_path, method: 'POST' -->


<!-- Comment valider la presence de photos de le model? -->
<!-- name="task[photos][]" A AJOUTER POUR LE FORMUALIRE DES TACHES-->
<!-- Comment faire pour le multiple picture? -->
