<%= render partial: "shared/navbar", locals: {
  title: "Nouveau document",
  sub_title: "Veuillez remplir les champs ci dessous.",
  button: :back,
  user: current_user
} %>

<div class="centerflex_docnew">

<div class="centeritem_docnew ">
<% if current_user.constructor? %>
  <%= simple_form_for [@user, @document] do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :category, collection: Document::DOC_TYPE, label: 'Category' %>
    <%= f.file_field :photo, label: false, as: :file %>
    <%= f.button :submit, "Ajouter le document"%>
  <% end %>
<% else %>
  <%= simple_form_for(@document) do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :category, collection: Document::DOC_TYPE, label: 'Category' %>
    <%= f.file_field :photo, label: false, as: :file %>
    <%= f.button :submit, "Ajouter le document"%>
  <% end %>
<% end %>
</div>
<!-- @document, url: user_documents_path, method: 'POST' -->
</div>
