<div class="centerflex">


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<div class="container_signin form-inputs registration">

<div class="centertitre">
  <h2>Identifiants</h2>
</div>

    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "field", placeholder: "Adresse email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "field", placeholder: "Mot de passe" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

</div>

  <div class="centerflexrow">
  <div class="form-actions">
    <%= f.button :submit, "Se connecter" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

</div>
